<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-3">Películas App</h1>
        <p class="lead">Esta es una aplicación de Películas</p>
    </div>
</div>

<div class="container">
    <br>
    <app-galeria [peliculas]="cartelera | slice:0:10" titulo="Películas en Cartelera"></app-galeria>
    <app-galeria [peliculas]="populares | slice:0:10" titulo="Populares"></app-galeria>
    <app-galeria [peliculas]="kids | slice:0:10" titulo="Películas para Niños"></app-galeria>
</div>
<!-- <app-peliculascartelera></app-peliculascartelera>
<app-peliculaspopulares></app-peliculaspopulares>
<app-peliculaskids></app-peliculaskids> -->
